@tailwind base;
@tailwind components;
@tailwind utilities;

.al-button-primary-hovered:hover {
  @apply bg-al-button-primary-hovered;
}
.al-button-primary-focused:focus {
  @apply bg-al-button-primary-focused;
}
.al-button-secondary-hovered:hover {
  @apply bg-al-button-secondary-hovered;
}
.al-button-secondary-focused:focus {
  @apply bg-al-button-secondary-focused;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
